/*RESET*/
html {height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0; padding:0;}
table {border-collapse:separate;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal; font-weight:normal;}
em,strong{}
ol,ul {list-style:none;}
caption {text-align:center;}
th {font-weight:bold;}
h1,h2,h3,h4,h5,h6 {font-size:100%; margin:0; padding:0;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}

/*MAIN*/
body {font-size:13px; color:#555; font-family:"Arial",sans-serif; overflow: hidden;}
a {color:#8C1919; outline:none; text-decoration:none;}
img {border: none; vertical-align: middle;}
p {line-height:120%;}
.cl {clear:both; line-height:0;}
.fl {float:left;}
.fr {float:right !important;}
.hidden {display:none;}
label {font-size:14px; display:block; padding:3px 0;}

h1 {}
h2 {}
h3 {font-size:18px; line-height:30px; font-weight:normal;}
h4 {font-size:14px; line-height:20px;}
h5 {font-size:14px; font-weight:normal; color:#333;}

.blackMask {left: 0px; right: 0px; top: 0px; bottom: 0px; background-color: #000000;opacity: 0.5; position: absolute; display:none; z-index: 999;}

.bigLoader {left:0px; right:0px; top:0px; bottom:0px; position:absolute; display:none; z-index:998; background:#FFF url(../images/loaderBig.gif) scroll no-repeat 50% 50%; }

/*SPRITE*/
.msgDel, .msgRpl, .cmtCount span.tip, ul.cmts, ul.cmts li.last input[type=submit], .search input[type=submit] {background-image:url(../images/icos.png); background-repeat:no-repeat;}
.cmtCount span.ico {background-image:url(../images/sprite.png); background-repeat:no-repeat;}
.fromI, .untilI, span.checkbox, span.chk, span.radio, .dash, .ticl, .sche, .requ, .staf, .repo, .trai, .sett, .exit, .icoClock, .icoEmpDet, .icoAdmAct, .icoEmpPos, .icoEmpSki, .icoEmpAdd, .icoDat, .icoNot, .icoAct, .icoSta, .icoReqWor, .icoReqCan, .icoReqEdi, .icoReqDel, .icoLoc, .icoSch {background-image:url(../images/mainNav_bg.png); background-repeat:no-repeat;}
.calendar td.today, .calendar th, .calendar td.hasAny {background-image: url(../images/callendar_bg.png); background-repeat:repeat-x;}
.trai_down {background-image:url(../images/DownMenu.png); background-repeat:no-repeat;}
.trai_up{background-image:url(../images/UpMenu.png); background-repeat:no-repeat;}
.dash {background-position:5px 0;}
.ticl {background-position:5px -40px;}
.sche {background-position:5px -80px;}
.requ {background-position:5px -120px;}
.staf {background-position:5px -160px;}
.repo {background-position:5px -240px;}
.trai {background-position:5px -200px;}
.sett {background-position:5px -1450px;}
.exit {background-position:5px -1490px;}

.pdf {background:transparent url('../images/document-pdf.png') scroll no-repeat 0 50%}
.txt {background:transparent url('../images/document-text.png') scroll no-repeat 0 50%}
.image {background:transparent url('../images/document-image.png') scroll no-repeat 0 50%}
.doc {background:transparent url('../images/document-excel-csv.png') scroll no-repeat 0 50%}
.other {background:transparent url('../images/document-other.png') scroll no-repeat 0 50%}

.icoClock {background-position:10px -310px; padding:0 0 0 50px;}
.shift {padding:0 0 0 25px; background:transparent url(../images/Dashboard_UpcomingShifts16x16.png) scroll no-repeat 0 50%;}
.icoEmpDet {background-position:0 -360px; padding:0 0 0 40px;}
.icoAdmAct {background-position:0 -410px; padding:0 0 0 40px;}
.icoEmpPos {background-position:0 -460px; padding:0 0 0 40px;}
.icoEmpSki {background-position:0 -510px; padding:0 0 0 40px;}
.icoEmpAdd {background-position:0 -660px; padding:0 0 0 40px;}
.icoNot {background-position:0 -710px; padding:0 0 0 40px;}
.icoAct {background-position:0 -760px; padding:0 0 0 40px;}
.icoSta {background-position:0 -810px; padding:0 0 0 40px;}
.icoSch {background-position:0 -960px; padding:0 0 0 40px;}
.icoLoc {background-position:0 -1010px; padding:0 0 0 40px;}
.icoDat {background-position:0 -1210px; padding:0 0 0 40px;}
.icoReqWor {background-position:0 -860px;}
.icoReqCan {background-position:0 -1160px;}
.icoReqEdi {background-position:0 -1260px;}
.icoReqDel {background-position:0 -1160px;}
.icoReqTra {}
.fromI {background-position:-10px -1065px; padding:0 0 0 20px;}
.untilI {background-position:-10px -1115px; padding:0 0 0 20px;}

span.checkbox {display:block; line-height:30px; padding:5px 0 5px 35px; background-position:-5px -605px;}
span.checkbox.check {background-position:-5px -555px;}
span.checkbox.disabled {background-position:-5px -905px;}

span.radio {display:block; line-height:30px; padding:5px 0 5px 35px; background-position:-5px -1305px;}
span.radio.bigger {background-position:-5px -1290px;}
span.radio.bigger2 {background-position:-5px -591px;}
span.radio.check {background-position:-5px -1405px;}
span.radio.check.bigger {background-position:-5px -1390px;}
span.radio.check.bigger2 {background-position:-5px -691px;}
span.radio.over {background-position:-5px -1355px;}

a.button {line-height:30px; display:block; padding:0 10px; color:#333; background-color:#f0f0f0; border:solid 1px #DBDBDB; border-radius:2px;}
a.confirm {line-height:30px; display:block; padding:0 10px; color:#FFF; background-color:#6C732C; border:solid 1px #5F894D; border-radius:2px;cursor:pointer;}
a.loading, button.loading {background:url(../images/loader.gif) scroll no-repeat 50% 50% !important;}
a.loading span, button.loading span {visibility:hidden;}
div.loading, li.loading {background:transparent url(../images/loader.gif) scroll no-repeat 50% 50% !important; min-height:30px;}
table.loading, tr.loading, ul.loading {background:transparent url(../images/loader.gif) scroll no-repeat 50% 50% !important;}
table.loading tr, ul.loading li, tr.loading td, div.loading span, li.loading span {opacity:0.25;}

/*BUILD*/
html {overflow-x:hidden;}
.wrapper { background-color:#FFF; position: relative;}
.wrapper.extended {width:100%;} 
.mainMenu {background-color:#f1f1f1; width:190px; float:left; margin-left:-190px;}
.mainMenu.hidden{display:block;}
.subWrapp {overflow:hidden; margin:0 auto;}
.subNavigation, .subLevel {height:40px; position:relative; background:#f2f2f2 url('../images/header_bg.png') scroll repeat-x 0 0;}

.main {padding:0 0 20px;}
#pages {overflow:hidden; position: relative;}

.notification {padding:21px 0; text-align:center; line-height:20px; color:#FFF; display:none; position:absolute; width:100%; top:0;}
.error {background-color:#D15050;}
.success {background-color:#75BE66;}
.info {background-color:#66A0BB;}
.noResults {padding:10px; margin:10px; border:solid 1px #B1CAE4; color:#B1CAE4; font-size:14px; display:block;}
.notif {line-height:20px; font-size:14px; color:#888; padding:15px 20px;}
.additional {font-size:13px; color:#888; padding:15px 20px 20px !important; border-bottom:solid 1px #DBDBDB;}
.additional.wide {padding:5px 20px !important;}
.additional p {padding:5px 0;}
.centered {text-align:center;}

.toggleMenu {position:absolute; top:0; left:0; padding:11px 12px;}
.backMenu {position:absolute; top:0; left:0; padding:11px 12px;}
.title1 {overflow:hidden; padding:5px 0; line-height:30px; border-bottom:solid 1px #DBDBDB;}
.title1.wide {padding:5px 20px;}
.title1.regular {background-color:#F5F5F5;}

.title {overflow:hidden; padding:15px 20px 20px; line-height:25px; position:relative; background:url("../images/shadow.png") repeat-x scroll 0 100% transparent}
.title.wide {padding:15px 20px;}
/*.title span a {display:block; padding:0 10px; background-color:#f0f0f0; border:solid 1px #DBDBDB; color:#333; border-radius:2px;}*/
.title div {line-height:15px; font-size:14px;}
.title div span {display:block; font-weight:bold;}
.title div img {float:left; margin:0 10px 0 0;}
.welcome {font-size:14px; padding:10px 0;}
.welcome span {color:#a52626;}

.search > div {line-height:15px; color:#999;}
.search > div.ver {padding:7px 0;}
.search > div span {display:block; font-weight:bold; font-size:14px; color:#333;}

.search {padding:15px 20px; background-color:#f7f7f7; height:30px; border-top:solid 1px #FFF; border-bottom:solid 1px #DBDBDB; position:relative;}
.search span.input {margin:0 30px 0 0;}
.search input[type=submit] {float:right; margin:8px 0 0; display:block; width:13px; height:0; padding:13px 0 0; overflow:hidden; background-color:transparent; border:none; background-position:0 -13px;}

.cmtCount {display:block; background-color:#f1f1f1; padding:5px 15px; color:#999; position:relative;}
.cmtCount span.ico {background-position:0 0; padding:0 0 0 20px; line-height:20px; display:block; text-shadow:0 1px 0 #FFF;}
.cmtCount span.tip {display:block; width:20px; height:10px; position:absolute; top:-10px; left:10px; background-position:-50px 0;}

span.input {padding:5px; border:solid 1px #dbdbdb; display:block; background:#FFF url(../images/input_bg.png) scroll repeat-x 0 0;}
span.input input[type=text], span.input input[type=password] {font-family:"Arial", sans-serif; font-size:13px; color:#999; background-color:transparent; width:100%; border:none;}
span.input select {font-family:"Arial", sans-serif; font-size:13px; color:#999; background-color:transparent; width:100%; border:none;}
span.input textarea {font-family:"Arial", sans-serif; font-size:13px; color:#999; background-color:transparent; min-width:100%; max-width:100%; border:none;}
span.input input[type=text]:focus, span.input textarea:focus {color:#444;}

.newMsg {overflow:hidden; padding:10px 0 0;}
.newMsg.wide {padding:10px 20px 0;}
.newMsg span.input {margin:2px 0 5px;}

.msgHead {padding:15px 0;}

.butRpl {padding-left:30px !important; background:transparent url(../images/inbox_1.png) scroll no-repeat 7px 50%;}
.butDel {padding-left:30px !important; background:transparent url(../images/inbox_2.png) scroll no-repeat 7px 50%;}
.msgDel, .msgRpl {display:block; width:13px; height:13px; position:absolute; }
ul.msgWall .msgRpl {top:20px; right:40px; background-position:0 0;}
ul.msgWall .msgDel {top:20px; right:0; background-position:-13px 0;}
ul.cmts .msgDel {top:15px; right:15px; background-position:-13px 0;}

ul.mainNav {}
ul.mainNav > li {overflow:hidden;}
ul.mainNav > li > a {display:block; line-height:40px; padding:0 20px 0 42px; color:#666; font-size:14px;}
ul.mainNav > li.active > a {background-color:#e5e5e5; border-left:solid 3px #c52424;}
ul.mainNav ul li a {display:block; line-height:20px; padding:5px 10px 5px 20px; color:#FFF; border-bottom:solid 1px #841717; border-top:solid 1px #b23939; text-shadow:0 1px 2px #841717;}
ul.mainNav ul li a span {display:block; float:right; padding:4px; font-size:11px; line-height:10px; background-color:#7c1515; border:solid 1px #691010; border-radius:2px;}

ul.subNav {overflow:hidden; position:absolute; right:0; top:0;}
/* schedule icons addon */
ul.subNav.schedule {right:75px;}
ul.subNav li {float:left; margin:0 5px 0 0;}
ul.subNav li a {display:block; width:32px; padding:11px 0 8px; text-align:center;}
ul.subNav li a span {margin:0 -7px;}
ul.subNav li.active a {border-bottom:solid 3px #c52424;}

ul.subMenu {overflow:hidden; position:absolute; right:15px; top:15px; line-height:15px;}
.title ul.subMenu {right:0;}
ul.subMenu li {float:left;}
ul.subMenu li > span {padding:6px 6px 6px 0; display:block;}
ul.subMenu li a {display:block; padding:6px 10px; text-align:center; color:#333; border:solid 1px #d8d8d8; border-left:none; background-color:#FFF;}
ul.subMenu li.first a {border-radius:2px 0 0 2px; border-left:solid 1px #d8d8d8;}
ul.subMenu li.last a {border-radius:0 2px 2px 0;}
ul.subMenu li.single a {padding:6px 10px 6px 35px; border-radius:2px; border-left:solid 1px #d8d8d8;}

ul.inbox {overflow:hidden;}
ul.inbox li {border-bottom:solid 1px #DBDBDB; padding:0 20px;}
ul.inbox li.unread {background-color:#FFFFCC;}
ul.inbox li.extended {border:none;}
ul.inbox li .msgBody {display:none;}
ul.inbox li.extended .msgBody {display:block;}

ul.filters {overflow:hidden; margin:0 auto;}
ul.filters li {float:left; width:54px;}
ul.filters li a {display:block; padding:6px 0; line-height:16px; text-align:center; color:#666; border:solid 1px #d8d8d8; border-left:none; background-color:#FFF;}
ul.filters li.active a {background-color:#e8e8e8;}
ul.filters li.first a {border-radius:2px 0 0 2px; border-left:solid 1px #d8d8d8;}
ul.filters li.last a {border-radius:0 2px 2px 0;}

ul.msgWall {overflow:hidden;}
ul.msgWall > li {padding:15px 0 0; border-bottom:solid 1px #DBDBDB; overflow:hidden; position:relative;}
ul.msgWall > li > img {float:left; padding:5px 0 20px;}
ul.msgWall > li > .msg {margin:0 0 0 60px; padding:0 0 20px;}
ul.msgWall > li p {padding:5px 0;}
ul.msgWall > li .msg span{color:#999; display:block; line-height:20px;}

ul.multiInput {overflow:hidden; font-size:14px; }
ul.multiInput li {width:50%; float:left; border-bottom:solid 1px #DBDBDB; padding:10px 0;}
ul.multiInput li.even div {margin:0 10px 0 0; padding-left: 20px;}
ul.multiInput li.odd div {margin:0 0 0 10px; padding-right: 20px;}

ul.detailsGrid {overflow:hidden; border-bottom:solid 1px #DBDBDB;padding: 5px 0px;}
.main > ul.detailsGrid {padding:5px 20px;}
ul.detailsGrid > li {padding:5px 0; overflow:hidden;}
ul.detailsGrid ul {margin:-5px 0; overflow:hidden;}
ul.detailsGrid ul li {float:left; width:50%; padding:5px 0;}
ul.detailsGrid ul li.even div {margin:0 10px 0 0; padding-left: 20px;}
ul.detailsGrid ul li.odd div {margin:0 0 0 10px; padding-right: 20px;}

ul.cmts {background-position:-40px 0; padding:10px 0 0;display:none;}
ul.cmts li {padding:10px 15px 0; background-color:#f1f1f1; position:relative; overflow:hidden; border-bottom:solid 1px #e1e1e1;}
ul.cmts li img {float:left; padding:5px 0 15px;}
ul.cmts li .msg {margin:0 0 0 60px; padding:0 0 15px;}
ul.cmts li.first {border-top:none;}
ul.cmts li.last {border-bottom:none;}
ul.cmts li.last span.input {margin:5px 30px 15px 0;}
ul.cmts li.last input[type=submit] {float:right; margin:13px 0 0; display:block; width:13px; height:0; padding:13px 0 0; overflow:hidden; background-color:transparent; border:none; background-position:-26px 0;}

ul.timeSheet {overflow:hidden; font-size:14px; }
ul.timeSheet > li {border-bottom:solid 1px #dbdbdb; padding:5px 20px; overflow:hidden;}
ul.timeSheet ul {padding:5px 0 0;}
ul.timeSheet ul li {padding:5px 0; overflow:hidden; border-top:solid 1px #EAEAEA;}
ul.timeSheet ul li:last-child {padding:5px 0 0;}
ul.timeSheet li > img {float:left;}
ul.timeSheet li > span {display:inline-block; float:left;}
ul.timeSheet li .date {width:25%; line-height:30px;}
ul.timeSheet li .names {width:25%; line-height:30px; font-size:11px;}
ul.timeSheet li .names b {line-height: 35px; }
ul.timeSheet li .twoLine {line-height:15px; padding:0 0 0 5px; font-size:12px;}
ul.timeSheet li .oneLine {line-height:30px; padding:0 0 0 5px;}
ul.timeSheet li .stats {color:#999; font-size:13px;border: 1px solid #EAEAEA;border-radius: 3px 3px 3px 3px;margin-left:5px;margin-top:7px;}
ul.timeSheet li .time {width:50%; text-align:center; color:#888; line-height:20px; font-size:12px;}
ul.timeSheet li .time .tStart {background-color:#75BE66; display:inline-block; padding:5px; border-radius:2px; color:#FFF; width:48px;}
ul.timeSheet li .time .tEnd {background-color:#D15050; display:inline-block; padding:5px; border-radius:2px; color:#FFF; width:48px;}
ul.timeSheet li .time .tPending {background-color:#999; display:inline-block; padding:5px; border-radius:2px; color:#FFF; font-size:11px;}
ul.timeSheet li .last {width:25%; text-align:right; line-height:30px; font-size:11px;}
ul.timeSheet li .quarter:first-child {line-height:15px;}
ul.timeSheet li .quarter {width:25%;}
ul.timeSheet li .quarter.even span {margin:0 5px 0 0;}
ul.timeSheet li .quarter.odd span {margin:0 0 0 5px;}
ul.timeSheet span.checkbox {padding:0; width:29px; height:30px; float:right; background-position:-5px -610px;}
ul.timeSheet span.checkbox.check {background-position:-5px -560px;}

ul.staff.big {overflow:hidden; padding:15px 10px; font-size:14px;}
ul.staff.big li {position:relative; float:left; padding:5px 10px; width:80px; height:120px; overflow: hidden;}
ul.staff.big li span {display:block; text-align:center; padding:3px 0;}
ul.staff.big li span b {position:absolute; top:66px; left:12px; padding:0 5px; background-color:#FFF;opacity: 0.6;}
ul.staff.big li img {float:left; width:80px; height:80px;}

ul.staff.small {overflow:hidden; font-size:14px; }
ul.staff.small li {float:left; padding:10px 0 10px 20px; width:140px; border-bottom:solid 1px #DBDBDB;}
ul.staff.small li img {float:left; width:30px; height:30px;}
ul.staff.small li span {display:block; margin:0 0 0 40px; line-height:15px;}

ul.acceptors {overflow:hidden; font-size:14px; }
ul.acceptors.wide {padding:0 20px;}
ul.acceptors li {float:left; padding:10px 10px 10px 0; width:130px;}
ul.acceptors li img {float:left; width:30px; height:30px;}
ul.acceptors li span {display:block; margin:0 0 0 40px; line-height:15px;}

ul.requests {overflow:hidden; font-size:14px;}
ul.requests li {padding:10px 20px 10px 20px; border-bottom:solid 1px #DBDBDB; position:relative;}
ul.requests li span {display:block; font-weight:bold; line-height:20px;}
ul.requests li a {position:absolute; top:50%; right:0; margin:-15px 0 0;}

#rq_st ul.requests li a {position:absolute; top:50%; right:20px; margin:-15px 0 0;}

.login {background-color:#F5F5F5; color: #666; font-size:14px; height:100%; overflow: auto;} 
.login .logo {margin: 5px auto; display: block;}
.login table {height:100%;}
.login table td {text-align:center;}
.login label {display:block; line-height:20px; margin:15px 0 10px;}
.login .holder {background-color:#FFF; border:1px solid #C6C6C6; color:#920000; font-size:14px; margin:15px 0 0; padding:10px 20px; box-shadow:0 2px 2px #EEE inset, 0 1px 1px #FFF;}
.login .rButton {padding:10px 0; overflow:hidden;}
.login input {background-color:transparent; border:none; width:100%; color:#999; font-family:"Arial", sans-serif; font-size:14px;}
.login button {font-family:"Arial", sans-serif; font-weight:bold; background-color:#b90a0a; font-size:14px; border:none; color: #fff; line-height:40px; text-align:center; width: 100%;}
.login td {vertical-align: middle;}

.login .loginForm {overflow:hidden; margin:0 auto; padding:0 10px; max-width:400px;}
.login .loginForm a {margin:30px 0; font-size: 18px; text-decoration:none; color: #aaa; float: left; font-weight: 300; height: 45px; line-height: 40px; text-align: center;}
.login .footerTxt {text-align:center;}
.login .footerTxt {font-size:12px;}
.login .footerTxt a {color: #920000; line-height:20px;}

table.calendar {font-size:14px; font-weight:bold; background-color:#F7F7F7;}
table.calendar th {line-height:30px; text-align:center; border-bottom:solid 1px #DBDBDB; background-color:#E8E8E8; width:14%; background-position:0 -147px;}
table.calendar td {line-height:40px; text-align:center; border:solid 1px #DBDBDB;  border-right:none; border-top:none;}
table.calendar td:first-child {border-left:none;}
table.calendar td.notM {color:#999;}
table.calendar td.today {color:#AD2828; background-color:#FFF; background-position:0 -20px !important;}
table.calendar td.hasAny {background-position:0 -101px;}

table.day {font-size:14px; font-weight:bold;}
table.day td {border:solid 1px #DBDBDB;  border-right:none; border-top:none;}
table.day td:first-child {border-left:none;}
table.day td.dTime {line-height:40px; width:28%; padding:0 5px 0 20px;}
table.day td.dTitle {text-align:left; line-height:15px; padding:0 10px;}
table.day td.dTitle span {font-weight:normal; font-size:13px;}



/*
    Application css
*/
.applicationContainer {display:none;}
body {display:none;}
.hidden {display:none;}
.nonVisible {visibility: hidden;}
#da_up_li li a {margin:0px;}
#da_se > div {display:none;}
#st_li {padding:0px;}
#requests .avaitingST {display:none;}
#requests .confirmBefore .avaitingST {display:inline;}
#schedule span.input {margin:0px;}
#schedule .main {margin:0px; padding:0;}
#da_in {margin:0px; padding:0;}
#tc_dtc_buttons .unapprove {opacity: 0.5}
.permMsgCommentOff .msgRpl, .permMsgCommentOff li.last {display:none;}
.notPublished {border: none !important; border-bottom: 1px solid #FF8800 !important; background: url(../images/warning.png) scroll no-repeat 50% 50%;}
#da_in_me .additional {padding:15px 20px !important;}
.noBorder {border:none !important;}
.main.addShift.normal > .detailsGrid {border-bottom: none;}

/*failsafe*/
.checkbox.failsafe {line-height:15px;}

/* training */
.trainingBar {font-size:14px; line-height:17px;margin:0 110px 0 50px;}
.barholder {position:relative; height:10px; background-color:#FFF; border:solid 1px #DDD;}
.progress {position:absolute; height:12px; top:-1px; left:-1px; border-left:1px solid #5F894D; border-right:1px solid #5F894D; background:transparent url(../images/progress_bg.png) scroll repeat-x 0 0;}

#tr_touch {background: url(../images/NextMenu.png) scroll no-repeat 100% 50%;}
.alert{background: url(../images/req_1.png) scroll no-repeat 100% 50%;}
ul.training_sections {overflow:hidden;}
ul.training_sections li.idle .tUp {display:none;}
ul.training_sections li.active .tDown {display:none;}
ul.training_sections li.active div {overflow:hidden;}
ul.training_sections li.unread {background-color:#FFC;}

.training_module li{list-style: none;}

.wys {padding:0px 20px;}
.wys img {max-width:280px;}
.wys .codebox {background-color:#CCDEE3; border:1px solid #62A3BA; cursor:text; margin:5px 0; padding:10px 20px;}
.wys blockquote {background-color:#FCFDE2; border:1px solid #E9E3AC; font-style:italic; margin:5px 0; padding:10px 20px;}

.dig_signature {padding:10px 20px 0; border:1px solid #E4E4E4; margin:0 0 20px;}
.dig_signature input {font-size:40px; height:55px; width:100%; background-color:transparent !important; border:none !important; font-family:"Qwigley",cursive,Arial;}
.dig_signature p, .trainingAssign .topicTop p {color:#999; margin:0; padding:0;}
.dig_signature span {display:block; border-top:1px solid #E4E4E4; font-size:13px; color:#444; line-height:30px; margin:-15px 0 0;}

/* dashboard */
ul.widgets {padding:0 0 5px; background:transparent url('../images/shadow.png') scroll repeat-x 0 100%; position:relative;}
ul.widgets li {border-top:solid 1px #DDD;}
ul.widgets li:first-child {border:none;}
ul.widgets li a {display:block; padding:20px 0;}
ul.widgets li.shifts a {display:block; padding:15px 0; overflow: hidden;}
ul.widgets li.shifts.user a {padding:15px 0;}
ul.widgets li a span.icon {display:block; float:left; width:80px; text-align:center;}
ul.widgets li a span.icon b {line-height:30px; font-size:30px; color:#333;}
ul.widgets li a span.icon p {color:#FFF; text-transform:uppercase; font-size:10px; line-height:15px;}
ul.widgets li a span.icon h3 {line-height:28px; color:#333; font-size:16px;}
ul.widgets li a span.details {display:block; margin:0 20px 0 80px; background:transparent url('../images/arrow_light_forward.png') scroll no-repeat 100% 50%;}
ul.widgets li a:active span.details {background:transparent url('../images/arrow_forward.png') scroll no-repeat 100% 50%;}
ul.widgets li a span.details h3 {font-weight:normal; font-size:18px; line-height:25px; color:#333;}
ul.widgets li a span.details p {line-height:15px; color:#333;}
ul.widgets li.timeClock.out span.details p {color:#CCC;}
ul.widgets li.timeClock.out {background:transparent url('../images/widget_clockedout.png') scroll no-repeat 15px 50%;}
ul.widgets li.timeClock {background:transparent url('../images/widget_clockedin.png') scroll no-repeat 15px 50%;}
ul.widgets li.schedule {background:transparent url('../images/widget_calendar.png') scroll no-repeat 15px 50%;}

ul.shifts.moved {margin:-5px 0 0;}
ul.shifts li {border-left:solid 5px #EEE;}
ul.shifts li.upcoming {background-color:#F4F4F4;}
ul.shifts li a span {color:#999; text-align:center;}
ul.shifts li a {padding:10px 20px 10px 10px; display:block; line-height:20px; color:#333; border-bottom:solid 1px #DDD; min-height:40px;}
ul.shifts li a p {line-height:20px;}
ul.shifts li div span {color:#999; text-align:center;}
ul.shifts li div {padding:10px 20px 10px 10px; display:block; line-height:20px; color:#333; border-bottom:solid 1px #DDD; min-height:40px;}
ul.shifts li div p {line-height:20px;}

ul.empList {padding:15px 20px;}
ul.empList li {padding:5px 0; overflow:hidden;}
ul.empList li img {float:left; margin:0 10px 0 0; width:30px; height:30px; display:block;}
ul.empList li span.name {float:left; display:block; line-height:30px;}
ul.empList li ul {margin:0 0 0 30px;}

span.chk {display:block; height:30px; width:29px; float:left; margin:0 10px 0 0; background-position:-5px -610px;}
span.chk.check {background-position:-5px -560px;}
span.chk.disabled {background-position:-5px -910px;}

ul.step {overflow:hidden; padding:10px;}
ul.step li {width:50%; float:left;}
ul.step li div {padding:10px;}
ul.step li div p {padding:20px 0 0;}

a.green {display:block; color:#FFF; line-height:30px; text-align:center; background-color:#7cb017;}
a.grey {display:block; color:#FFF; line-height:30px; text-align:center; background-color:#aaaaaa;}

.cap {padding:15px 20px 15px 45px; font-weight:bold; font-size:13px; border-bottom:solid 1px #DDD;}
.cap.working {background:transparent url('../images/title_working.png') scroll no-repeat 20px 50%;}
.cap.trade {background:transparent url('../images/title_trade.png') scroll no-repeat 20px 50%;}

.steps {overflow:hidden; border-top:solid 1px #DDD; padding:20px; text-align:center;}
.steps a {display:block; padding:0 20px; color:#FFF; line-height:30px; text-align:center; background-color:#7cb017;}
.steps span {color:#CCC;}
.greyed {overflow:hidden; background:#F4F4F4 url('../images/shadow.png') scroll repeat-x 0 0;}

.greyed ol.reg {padding:10px 20px 0;}
.greyed ol.reg li {list-style:decimal outside; padding:10px 0; margin:0 0 0 17px;}
.greyed ul.reg {padding:0 20px 10px;}
.greyed ul.reg li {list-style:none inside; padding:10px 0; margin:0 0 0 17px;}

.greyed .text {padding:20px 20px 10px; border-bottom:solid 1px #DDD;}
.greyed .text p {padding:10px 0;}


/* added by zoran */
.greenB {background-color: #7CB017; color: #FFFFFF; display: block; line-height: 30px; padding: 0 20px; text-align: center;}
.greyB {background-color: #AAAAAA; color: #FFFFFF; display: block; line-height: 30px; padding: 0 20px; text-align: center;}


#settings .search {background: url("../images/header_bg.png") repeat-x scroll 0 0 #F2F2F2; height: 40px;position: relative; padding:0px; border:none;}
#da_fi_list li {padding:0px 20px;border-bottom: 1px solid #DBDBDB;}

#da_fi_list li .title1 {border:none;}
#da_fi_list li.regular {background-color:#F5F5F5;}

#st_tp_menu {background: url("../images/shadow.png") repeat-x scroll 0 100% transparent;padding-bottom:3px;}
#st_tp_menu tr td {text-align:center; line-height: 50px;}
#st_tp_menu tr td.active {border-bottom: 3px solid #C52424;}

#rq_sa .detailsGrid .even div, #rq_va_date .even div, #tc_act_date .even div, #da_se_ed_bd_sel .even div {padding-left:0px;}
#rq_sa .detailsGrid .odd div, #rq_va_date .odd div, #tc_act_date .odd div, #da_se_ed_bd_sel .odd div {padding-right:0px;}

#tc_dts_ul span.names b {font-weight: normal;}

#rq_st_im_s .title1 {padding:5px 20px;}

.marginLeft10{ margin-left: 10px; }
.noticeDiv{ background-color: #FEFFD9; color: #896519; padding: 15px 20px; border-bottom: 1px solid #DBDBDB; }