/nbproject/private/
# OSX files
.DS_Store

/platforms/android/CordovaLib/build
/platforms/android/ant-build
/platforms/android/CordovaLib/ant-build/

/platforms/android/android.iml
/platforms/android/CordovaLib/CordovaLib.iml

/nohup.out
/www/.idea

/platforms/android/.gradle
/platforms/android/.idea

/platforms/android/assets/www
/platforms/ios/www
/platforms/ios/build
/platforms/ios/ShiftPlanning.xcodeproj/project.xcworkspace/xcuserdata/shiftplanning.xcuserdatad/UserInterfaceState.xcuserstate