<?xml version='1.0' encoding='utf-8'?>
<widget id="com.shiftplanning.distribution" version="2.0.33" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ShiftPlanning</name>
    <description>
        ShiftPlanning combines all the best tools and capabilities of employee scheduling software, making an ideal product for your business...cutting-edge online features and ideal scheduling capabilities.
    </description>
    <author email="info@shiftplanning.com" href="http://www.shiftplanning.com/">
        ShiftPlanning Inc
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#333333" />
</widget>
